@import 'https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css';

.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

nz-select {
    display: block;
}

nz-button-group > button {
    width: 50%;
}

nz-button-group {
    width: 100%;
}

nz-form-item{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

.modal-content {
    text-align: center;
    margin-bottom: 0.5px;
}
