/* @import 'https://js.arcgis.com/4.26/@arcgis/core/assets/esri/themes/light/main.css'; */

/* .esri-view { */
    /* padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
} */

nz-select {
    display: block;
}

nz-button-group>button {
    width: 50%;
}

nz-button-group {
    width: 100%;
}

.search-form > nz-form-item {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
}

.settings {
    text-align: center;
    margin-bottom: 0.5px;
}

nz-form-label {
    padding: 0px !important;
}

.auth > h3 {
    text-align: center;
}

.search-form {
    max-width: 75%;
}

.login-form {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}